@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');/* Nav-styling */
.contact{
    background-color: #121010;
    height: 25vh;
    /* margin-top: 56%; */
}
#state{
    display: flex;
    padding-left: 30%;
}
.loc{
    padding-left: 5%;
    color: white;
    padding-top: 3%;
}
h4{
    font-family: 'Salsa', cursive;
}
p{
    font-family: 'Quicksand', sans-serif;
}
.cont{
    padding-left: 5%;
    color: white;
    padding-top: 3%; 
}

@media(max-width: 991px) {
    .contact{
        background-color: #121010;
        height: 25vh;
        /* margin-top: 56%; */
    }
    #state{
        display: flex;
        padding-left: 30%;
    }
    .loc{
        padding-left: 5%;
        color: white;
        padding-top: 3%;
    }
    h4{
        font-family: 'Salsa', cursive;
    }
    p{
        font-family: 'Quicksand', sans-serif;
    }
    .cont{
        padding-left: 5%;
        color: white;
        padding-top: 3%; 
    }
}