@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.product {
    display: flex;
    margin-top: 5%;
}

.words {
    align-items: center;
    margin-left: 2rem;
}

.words h1 {
    color: white;
    text-align: center;
}

.words p {
    text-align: left;
    font-size: 18px;
    position: absolute;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
    /* background: #2F2E41; */
    /* opacity: 0.9; */
}

.tree {
    margin-left: 30rem;
}

.tree img {
    height: 85vh;
    width: 35rem;
}


.head {
    /* margin-top: 50%; */
    font-size: 40px;
    text-align: left;
    margin-top: 100px;
}

.learn {
    margin-top: 15rem;

}

.learn button {
    border: none;
    height: 50px;
    width: 80%;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(0, 180.00000447034836, 89.00000229477882, 1);
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    text-align: left;
}

.rectangle {
    position: absolute;
    width: 132px;
    height: 48px;
    margin-left: 30%;
    margin-top: -5%;
    border: 1px solid rgba(0, 180, 89, 0.8);
    background: rgba(0, 180, 89, 0.8);
}

.rectangletwo {
    position: absolute;
    width: 15%;
    height: 116px;
    left: 85%;
    margin-bottom: 50%;
    margin-top: -30rem;
    border: 1px solid rgba(0, 180, 89, 0.8);
    background: #00B459;
}

.headwork {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.desktop img{
    width: 100%;
}